@{
    ViewBag.Title = "Home Page";
}

<div class="container pt-2">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center align-items-center" style="padding-top:2%;">
            <h5>Bienvenido a Sinco School</h5>
        </div>
    </div>
</div>